@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(./Montserrat-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-SemiBold"),
    url(./Montserrat-SemiBold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}

html {
  background-color: #0d2338;
}

body {
  background: linear-gradient(#0b4987, #092847);
  background-size: cover;
  font-family: "Montserrat-Regular";
}

.fullPageLoader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
