.customErrorWrapper {
  background-color: var(--sectionBackground);
  color: var(--sectionText);
  text-align: center;
  margin-bottom: 0;
  transition: background-color var(--transitionTime) ease;
  transition: color var(--transitionTime) ease;
}
.errorText {
  font-size: 1.75rem;
}
.errorButton {
  display: block;
  padding: 0.5rem;
}

.errorImage {
  width: 75%;
  max-width: 500px;
  padding: 20px;
  border-radius: 1.5rem;
}
