.sectionWrapper {
  background-color: var(--sectionBackground);
  color: var(--sectionText);
  transition: background-color var(--transitionTime) ease;
  transition: color var(--transitionTime) ease;
}
.colLeft {
  border-right: 2px solid var(--sectionDivider);
  border-bottom: 2px solid var(--sectionDivider);
}
.colLeft.bottom {
  border-bottom: none;
}
.colRight {
  border-bottom: 2px solid var(--sectionDivider);
}
.colRight.bottom {
  border-bottom: none;
}
